{{!-- map --}}
<div id="map"></div>
<!-- Filter Menu -->
<nav class="navbar-primary collapsed">
  <div class="container">
    <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-right" aria-hidden="true" id="filter-menu-icon"></span></a>
    <div class="navbar-primary-menu">
      <div class="row" id="filter">
        <label class="filter-menu" id="filter">CENTER MAP BY ADDRESS <span class="glyphicon glyphicon-search"></span> <!-- OR CURRENT LOCATION <span class="glyphicon glyphicon-map-marker"></span> --> </label>
      </div>
      <form id="map-center">
        <div class="form-group row">
          <label for="address-search" class="col-3 col-form-label filter-menu one">Address</label>
          <div class="col-6" id="address-center">
            <input type="text" class="form-control filter-menu" id="address-center">
          </div>
          <div class="col-1" id="search">
            <button id="address-search" class="btn btn-primary filter-menu" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
          <!-- <div class="col-1" id="current-location">
            <button id="current-location" class="btn btn-primary filter-menu" type="button">
              <span class="glyphicon glyphicon-map-marker"></span>
            </button>
          </div> -->
          <div class="col-1"></div>
        </div>
        <hr>
        <div class="row" id="filter">
          <label class="filter-menu" id="filter">FILTER BY: </label>
        </div>
        <form id="filter-menu">
          <div class="form-group row">
            <label for="county" class="col-3 col-form-label filter-menu one">County</label>
            <div class="col-9" id="county-input">
              <input type="text" class="form-control filter-menu" id="county">
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label for="address" class="col-3 col-form-label filter-menu" id="address-label">Address</label>
            <div class="col-9" id="address-input">
              <input type="text" class="form-control filter-menu" id="address" placeholder="Street">
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-3 col-form-label filter-menu"></label>
            <div class="col-7" id="city-input">
              <input type="text" class="form-control filter-menu" id="city" placeholder="City">
            </div>
            <div class="col-2" id="state-input">
              <select name="state" class="form-control filter-menu" id="state">
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="zip" class="col-3 col-form-label filter-menu"></label>
            <div class="col-5" id="zip-input">
              <input type="text" class="form-control filter-menu" id="zip" placeholder="Zip Code">
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label for="party" class="col-6 col-form-label filter-menu" id="party-label">Party (tap to unselect)</label>
          </div>
          <div class="form-group row">
            <div class="col-6 top-padding" id="party-input">
              <div name="party" class="btn-group btn-group-toggle filter-menu" id="party" data-toggle="buttons" aria-pressed="false">
                <!-- <option value=""></option> -->
                <label class="btn active" id="party"><input type="checkbox" checked value="rep" class="btn party">Republican</label>
                <label class="btn active" id="dem"><input type="checkbox" checked value="dem" class="btn party">Democrat</label>
                <label class="btn active" id="party"><input type="checkbox" checked value="una" class="btn party">Unaffiliated</label>
<!--                 <option value="other">Other</option>
 -->              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="status" class="col-2 col-form-label filter-menu" id="status-label">Status</label>
            <div class="col-4 top-padding" id="status-input">
              <select name="status" class="form-control filter-menu" id="status">
                <option value=""></option>
                <option value="active">ACTIVE</option>
                <option value="inactive">INACTIVE</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label for="ward" class="col-2 col-form-label filter-menu" id="ward-label">Ward</label>
            <div class="col-4" id="ward-input">
              <input type="text" class="form-control filter-menu" id="ward">
            </div>
            <label for="district" class="col-2 col-form-label filter-menu" id="district-label">District</label>
            <div class="col-4 bottom-margin" id="district-input">
              <input type="text" class="form-control filter-menu" id="district">
            </div>
          </div>
          <div class="form-group row">
            <label for="cd" class="col-2 col-form-label filter-menu" id="cd-label">CD</label>
            <div class="col-4" id="cd-input">
              <input type="text" class="form-control filter-menu" id="cd">
            </div>
            <label for="ld" class="col-2 col-form-label filter-menu" id="ld-label">LD</label>
            <div class="col-4 more-bottom-margin" id="ld-input">
              <input type="text" class="form-control filter-menu" id="ld">
            </div>
          </div>
          <div class="form-group row">
            <label for="freeholder" class="col-6 col-form-label filter-menu" id="freeholder-label">Freeholder</label>
            <div class="col-6 more-bottom-margin" id="freeholder-input">
              <input type="text" class="form-control filter-menu" id="freeholder">
            </div>
          </div>
          <div class="form-group row">
            <label for="school-district" class="col-6 col-form-label filter-menu" id="school-district-label">School District</label>
            <div class="col-6 bottom-margin" id="school-district-input">
              <input type="text" class="form-control filter-menu" id="school-district">
            </div>
          </div>
          <div class="form-group row">
            <label for="reg-school-district" class="col-6 col-form-label filter-menu" id="reg-school-district-label">Regional School District</label>
            <div class="col-6" id="reg-school-district-input">
              <input type="text" class="form-control filter-menu" id="reg-school-district">
            </div>
          </div>
          <div class="form-group row">
            <label for="fire-district" class="col-6 col-form-label filter-menu" id="fire-district-label">Fire District</label>
            <div class="col-6" id="fire-district-input">
              <input type="text" class="form-control filter-menu" id="fire-district">
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label for="filter-menu-submit" class="col-8 col-form-label filter-menu"></label>
            <div class="col-4">
              <button type="button" class="btn btn-primary filter-menu" id="filter-menu-submit">Submit</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</nav>
<!-- Filter Menu -->
<div class="modal1"><!-- Place at bottom of page --></div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src ="/assets/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB6Xgsu_8olcd-1fPEonfGobXyquXIzkY&callback=initMap"></script>